body {
    font-family: 'Vazir' , Vazir , Tahoma , Arial ,sans-serif !important;
    font-size: .875rem;
    font-weight: 300;
}
p{
    font-size: medium;
}
.Footer{
    background: linear-gradient(to right, #003a59, #001425);
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 20%;
}
.cardHeight {
    height: 180px !important;
}
.headHeight {
    height: 45% !important;
}
.backgroundColor {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);

}