<!--Jumbotron Header-->

<!--<div class="view intro-2 height ">-->
<!--<div class="full-bg-img ">-->
<!--<div class="mask rgba-black-strong flex-center">-->
<!--<div class="container ">-->
<!--<div class=" ">-->
<!--<header class="jumbotron hero-spacer text-dark text-center  ">-->
<!--<h3 class=" font-weight-bold shadow-sm">به مجله فیتکس خوش آمدید!</h3>-->
<!--<h6 class="pt-1 ">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</h6>-->
<!--</header>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="p-3 mt-5 " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
    <div class="  ">
        <h2 class="d-flex justify-content-center text-white">
            <span class="badge-info p-2">FitEx</span>
        </h2>
        <h1 class="  text-white mb-3 d-flex  justify-content-center">
            امروز با  فیتکس  تمرین کن!
        </h1>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" > به شما کمک میکنه تا بدون نیاز به تجهیزات حتی توی خونه ورزش کنید</h6>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" >به شما برنامه میده و شما رو تمرین میده</h6>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" >مجله رو هم پوشش میده</h6>
        <div class="d-flex justify-content-center">

            <div class="col-12 col-md-12 d-flex justify-content-center ">
                <a class=" btn-info btn  p-3  font-weight-bold" href="/land"> معرفی اپلیکیشن →</a>
            </div>
        </div>

    </div>
</div>