<!--Jumbotron Header-->
<div class="view intro-2 height ">
<div class="full-bg-img ">
<div class="mask rgba-black-strong flex-center">
<div class="container ">
<div class=" ">
<header class="jumbotron hero-spacer text-dark text-center  ">
<h3 class=" font-weight-bold shadow-sm">به مجله فیتکس خوش آمدید!</h3>
<h6 class="pt-1 ">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</h6>
</header>
</div>
</div>
</div>
</div>
</div>
