<!--Jumbotron Header-->

<!--<div class="view intro-2 height ">-->
<!--<div class="full-bg-img ">-->
<!--<div class="mask rgba-black-strong flex-center">-->
<!--<div class="container ">-->
<!--<div class=" ">-->
<!--<header class="jumbotron hero-spacer text-dark text-center  ">-->
<!--<h3 class=" font-weight-bold shadow-sm">به مجله فیتکس خوش آمدید!</h3>-->
<!--<h6 class="pt-1 ">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</h6>-->
<!--</header>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->





<div class="p-3 mt-5 " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
    <div class="  ">
        <h2 class="d-flex justify-content-center text-white p-3">
            <span class="badge-info p-2">درباره فیتکس</span>
        </h2>

        <p class="  text-white mb-3 d-flex  justify-content-center" >
            فیتکس اپلیکیشنیست که محتوای ورزشی و سلامت را پوشش میدهد و به کاربرانش این امکان را میدهد که بدون تجهیزات بتواند در منزل ورزش کنند . این اپلیکیشن محصول تلاش تیم استارتاپی فیتکس که در مرکز رشد و شتابدهی مستقر است میباشد.
        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">   بخش آموزش حرکات</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >
            در این بخش تمامی حرکات ورزشی موجود در اپلیکیشن قرار داده شده که میتوانید بطور رایگان با استفاده از این ویدیو های کوتاه و ساده  آن ها را فراگیرید.


        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">      بخش برنامه ها یا پلن های تمرینی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >
            میتوانید در این بخش با توجه به سطحتان یک برنامه تمرینی را انتخاب کرده و با پرداخت هزینه ای مناسب در ادامه توسط اپلیکیشن بطور منظم تمرین داده میشوید.



        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">   بخش مجله ورزشی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >
            مقالات و مطالب روز حوزه ورزش و تناسب اندام توسط تیم تحریریه همه روزه قرار میگیرد که به رایگان برای شما قابل استفاده است.

        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">       حق نشر محتوای آموزشی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center " >
            تمامی ویدیو ها توسط تیم فیتکس  تولید شده و استفاده و باز پخش آن ها بدون ذکر منبع پیگرد قانونی دارد.محتوای ویدیویی قابل ذخیره سازی در گالری  شما نمیباشد و تنها از  طریق اپلیکیشن به آن دسترسی دارید.


        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">     قیمت گذاری و نحوه پرداخت</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >
            سعی شده است تا با حداقل قیمت اپلیکیشن عرضه شود تا مورد رضایت شما کاربران باشد . پرداخت هزینه از داخل اپلیکیشن و از طریق درکاه های امن شاپرک انجام می شودو البته امکان پرداخت از طریق کیف پول کافه بازار نیز وجود دارد.

        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">  نکات بیشتر</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >
            تیم فیتکس از باشگاه ورزشی اکسیژن (واقع درخرم آباد) بخاطر قرار دادن فضای باشگاه برای آماده سازی محتوای ویدیویی و فیلمبرداری  سپاسگذار است و برای این باشگاه آرزوی موفقیت دارد.



        </p>


    </div>
</div><div class="p-3 mt-5 " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
    <div class="  ">
        <h2 class="d-flex justify-content-center text-white">
            <span class="badge-info p-2">FitEx</span>
        </h2>
        <h1 class="  text-white mb-3 d-flex  justify-content-center">
            امروز با  فیتکس  تمرین کن!
        </h1>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" > به شما کمک میکنه تا بدون نیاز به تجهیزات حتی توی خونه ورزش کنید</h6>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" >به شما برنامه میده و شما رو تمرین میده</h6>
        <h6 class="  text-white mb-3 d-flex  justify-content-center" >مجله رو هم پوشش میده</h6>
        <div class="d-flex justify-content-center">

            <div class="col-12 col-md-12 d-flex justify-content-center ">
                <a class=" btn-info btn  p-3  font-weight-bold" href="/land"> معرفی اپلیکیشن →</a>
            </div>
        </div>

    </div>
</div>