<!--Jumbotron Header-->

<!--<div class="view intro-2 height ">-->
<!--<div class="full-bg-img ">-->
<!--<div class="mask rgba-black-strong flex-center">-->
<!--<div class="container ">-->
<!--<div class=" ">-->
<!--<header class="jumbotron hero-spacer text-dark text-center  ">-->
<!--<h3 class=" font-weight-bold shadow-sm">به مجله فیتکس خوش آمدید!</h3>-->
<!--<h6 class="pt-1 ">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</h6>-->
<!--</header>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->





<div class="about-us-section "
>
    <div class="text-center ">
        <h3>درباره فیتکس</h3>
        <p>فیتکس یک گروه جوان و پرانرزی هست که باهدف افزایش اگاهی مردم در زمینه های ورزشی و همچین باز کردن بستری برای انجام حرکات ورزشی به صورت اصولی در خانه یا هرجایی دیگری بدون نیاز به اماکانات خاصی پدید اومده</p>
        <p>گروه فیتکس یه نرم افزار داره که واسه اموزش تمرینات ورزشی در خانه بارویکردی متفاوت به وجود اومده تا بتونه به تمام کسایی که به ورزش علاقه مندن هستن کمک کنه در خونه یا هرجای دیگری بدون نیاز به امکانات خاصی ورزش رو شروع کنن و به تناسب اندام دلخواه خودشون برسن </p>
    </div>
</div>