<header class="jumbotron hero-spacer">
    <h3> درباره ما</h3>
    <p>اپلیکیشن فیتکس به شما کمک میکنه تا حرکات ورزشیِ بدون نباز به تجهیزات رو به سادگی یاد بگیرین ، به شما برنامه تمرینی میده و کمکتون میکنه تو این راه تنها نباشین و پیشرفت کنین و البته یه بخش ویژه بعنوان مقالات داره و راجع به سلامت و تغذیه و ورزش بطور تخصصی توش نوشته میشه و میتونین ازش استفاده کنین... </p>
</header>